# Project files
.cproject
.project
.pydevproject

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Folders
release
debug
wrappers/nodejs/build
wrappers/python/2.x/build
